.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* center the buttons horizontally */
  max-width: 700px;
  margin: 0 auto; /* center the whole filters container */
  opacity: 0; /* set opacity to 0 initially */
  transition: opacity 0.5s ease-in-out; /* add transition for opacity property */
}

/* add class 'fade-in' to the filters container to animate the opacity */
.filters.fade-in {
  opacity: 1;
}

.filter-button {
  border: none;
  padding: 00px 10px;
  font-family: sans-serif;
  font-size: 20px;
  flex: 1 0 auto;
  margin: 10px;
  background: none;
  /*border: solid 1px blue;*/
}

.filter-button:hover {
  color: rgb(59, 165, 59);
  transition: 0.3s;
  cursor: pointer;
}

.filter-button.active {
  color: rgb(59, 165, 59);
}
