.menu-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  margin: 10px;
  flex-wrap: wrap;
  flex-basis: auto;
  white-space: nowrap;
  margin: 0 auto;
}

.menu-style li {
  display: inline-block;
  flex: 1;
}

.menu-style a {
  display: block;
  font-family: sans-serif;
  text-decoration: none;
  font-size: x-large;
  color:black;
}

@media (max-width: 550px) {
  .menu-style {
    display: block;
    text-align: left;
  }
  
  .menu-style li {
    display: block;
    margin: 0;
    border: none;
    padding: 10px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .menu-style a:hover {
      color:rgb(59, 165, 59);
  }
}