.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  grid-gap: 25px;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.portfolio-grid.loaded {
  opacity: 1;
}


.portfolio-image {
  position: static;
  height: auto;
  display: flex;
  align-items: last center;
  max-width: 500px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.portfolio-image img {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
